# phpstan config file
# run with this command:
# $ phpstan.phar analyse -c phpstan_config.neon .

parameters:
	level: 5
	paths:
		- auto_assignments
		- public
		- utils
	excludePaths:
		- tests/
	bootstrapFiles:
		- public/season.php
		- public/constants.php
	ignoreErrors:
		- message: "#^If condition is always false\\.$#"
		  count: 2
		  path: auto_assignments/assignments.php

		#- message: "#^If condition is always false\\.$#"
		#  count: 1
		#  path: auto_assignments/execute.php

		#- message: "#^Ternary operator condition is always true\\.$#"
		#  count: 1
		#  path: public/classes/calendar.php

		- message: "#^If condition is always false\\.$#"
		  count: 1
		  path: public/classes/meal.php

		- message: "#^Left side of && is always false\\.$#"
		  count: 1
		  path: public/classes/meal.php

		#- message: "#^If condition is always false\\.$#"
		#  count: 1
		#  path: auto_assignments/scheduling.php

		- message: "#^Class Worker constructor invoked with 1 parameter, 0 required.$#"
		  count: 1
		  path: public/classes/roster.php

		- message: "#^If condition is always false\\.$#"
		  count: 1
		  path: public/classes/survey.php

		- message: "#^Right side of && is always false\\.$#"
		  count: 1
		  path: public/mysql_api.php

		#- message: "#^Ternary operator condition is always true\\.$#"
		#  count: 1
		#  path: public/utils.php
