# phpstan config file
# run with this command:
# $ phpstan.phar analyse -c phpstan_config.neon .

parameters:
	level: 4
	paths:
		- auto_assignments
		- public
		- utils
	excludePaths:
		- tests/
	bootstrapFiles:
		- public/season.php
		- public/constants.php
	ignoreErrors:
		- message: "#^If condition is always false\\.$#"
		  count: 1
		  path: auto_assignments/schedule.php

		- message: "#^Negated boolean expression is always false.$#"
		  count: 1
		  path: public/classes/calendar.php

		- message: "#^Class Worker constructor invoked with 1 parameter, 0 required.$#"
		  count: 1
		  path: public/classes/roster.php

		- message: "#^If condition is always false\\.$#"
		  count: 1
		  path: public/classes/survey.php
